:root {
  --primary-black-color: #2e2f42;
  --text-color: #434455;
  --white-color: #ffffff;
  --light-color: #f4f4fd;
  --accent-color: #e7e9fc;
  --secondary-white-color: #e5e5e5;
  --lightslate: #8e8f99;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

a,
.link {
  text-decoration: none;
  font-style: normal;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* HEADER */

.header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.header-left {
  display: flex;
  align-items: center;
}
.header-left .logo.link {
  margin-right: 76px;
}

.header-navigation {
  display: flex;
}
.header-nav-item:not(:last-child) {
  margin-right: 40px;
}
.header-navigation .nav-link {
  color: var(--primary-black-color);
  font-weight: 500;
  display: block;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation .nav-link:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state-color);
  display: none;
}

.header-navigation .nav-link.current:after {
  display: block;
}

.header-navigation .nav-link.current {
  color: var(--pressed-state-color);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-black-color);
}
.logo-accent {
  color: var(--primary-brand-color);
}
.logo-white {
  color: var(--light-color);
}

.address {
  font-style: normal;
}

.header-address {
  display: flex;
  gap: 40px;
}
.header-address > li {
  display: block;
  padding: 24px 0;
}
.header-address .address-link {
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-navigation .nav-link:hover,
.header-navigation .nav-link:focus,
.header-address .address-link:hover,
.header-address .address-link:focus {
  color: var(--pressed-state-color);
}

/* MAIN page */
/* HERO section */

.hero {
  background-color: var(--primary-black-color);
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  margin: 0 auto;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero-title {
  color: var(--white-color);
  font-size: 56px;
  line-height: 1.07;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-button {
  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}

/* ADVANTAGES section */

.advantages-list {
  display: flex;
}

.advantage-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.advantage-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  border-radius: 4px;
  background-color: var(--light-color);
  padding: 24px 100px;
  margin-bottom: 8px;
}

.advantage-item:not(:last-child) {
  margin-right: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage-title,
.team-name {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
  margin-bottom: 8px;
}
.advantage-description {
  color: var(--text-color);
}

/* SERVICES section */

.services {
  padding-top: 0;
}

.services-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.service-item {
  flex-basis: calc((100% - 3 * 16px) / 3);
  height: 300px;
}

.services-title,
.team-title,
.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--primary-black-color);
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

/* TEAM section */

.team {
  background-color: var(--light-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.team-card {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  flex-basis: calc((100% - 72px) / 4);
}

.team-card-content {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-name {
  text-align: center;
}

.team-role {
  color: var(--text-color);
  text-align: center;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

.team-social-list-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link .icon {
  fill: var(--light-color);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--pressed-state-color);
}

/* CUSTOMERS section */
.customers-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.customers-list-item {
  width: 168px;
  height: 88px;
}

.customer-link {
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  color: var(--lightslate);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--pressed-state-color);
  color: var(--pressed-state-color);
}

.customer-link .icon {
  fill: currentColor;
}

/* FOOTER */

.footer {
  background-color: var(--primary-black-color);
  padding: 100px 0;
}

.footer-slogan {
  color: var(--light-color);
  width: 264px;
}

.footer .logo.link {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-left-part {
  margin-right: 120px;
}

.footer-social-media {
  margin-right: 80px;
}

.footer-social-title {
  color: var(--white-color);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-list-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-link .icon {
  fill: var(--light-color);
}

/* =============FOOTER-FORM================== */

.footer-cta-text {
  color: var(--white-color);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.footer-form-input {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--white-color);
  background-color: transparent;
}

.footer-form-input::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:focus::placeholder {
  color: transparent;
}

.footer-cta-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  border-radius: 4px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-cta-button:hover,
.footer-cta-button:focus {
  background-color: var(--pressed-state-color);
}

.footer-cta-button .icon {
  fill: currentColor;
  margin-left: 16px;
}

/* PORTFOLIO page */

.portfolio-section.section {
  padding: 96px 0 120px 0;
}

.gallery-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.gallery-button {
  background-color: var(--light-color);
  color: var(--primary-brand-color);
  border: 1px solid var(--accent-color);
  letter-spacing: 0.04em;
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  padding: 12px 24px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-buttons > li:not(:last-child) {
  margin-right: 24px;
}

.gallery-button:hover,
.gallery-button:focus {
  color: var(--white-color);
  background-color: var(--pressed-state-color);
  border-color: transparent;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.gallery-cards {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.gallery-card {
  width: calc((100% - 48px) / 3);
}

.gallery-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.gallery-image-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-description {
  background-color: var(--primary-brand-color);
  color: var(--light-color);
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 0.04em;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover .overlay-description,
.gallery-link:focus .overlay-description {
  transform: translateY(0%);
}

.gallery-card-content {
  padding: 32px 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}

.gallery-card-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
  margin-bottom: 8px;
}

.gallery-card-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* ========== MODAL, BACKDROP=========== */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  min-width: 408px;
  min-height: 584px;
  border-radius: 4px;
  padding: 24px;
  padding-top: 72px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button .icon {
  display: block;
  width: 8px;
  height: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--pressed-state-color);
  border: none;
}

.modal-button:hover .icon,
.modal-button:focus .icon {
  fill: var(--white-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* =============MODAL-FORM================== */

.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-form-cta-text {
  color: var(--primary-black-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.modal-form-field-wrap {
  margin-bottom: 8px;
}

.modal-form-field-wrap.textarea {
  margin-bottom: 16px;
}

.modal-form-label {
  display: block;
  color: var(--lightslate);
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-form-input-wrap {
  position: relative;
}

.modal-form-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus-within {
  border-color: var(--primary-brand-color);
}

.modal-form-input-icon {
  fill: var(--primary-black-color);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--primary-brand-color);
}

.modal-form-textarea {
  color: rgba(46, 47, 66, 0.4);
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  height: 120px;
  resize: none;
}

.modal-form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-form-button {
  color: var(--white-color);
  font-family: inherit;
  font-size: inherit;
  letter-spacing: 0.04em;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  min-width: 169px;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background: var(--primary-brand-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: var(--pressed-state-color);
}

.checkbox-wrap {
  margin-bottom: 24px;
}

.checkbox-agree-text {
  color: var(--lightslate);
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: center;
}

.checkbox-agree-link {
  display: inline-block;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
  color: var(--primary-brand-color);
  text-align: center;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-agree-text > .custom-checkbox {
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--light-color);
  border-color: var(--pressed-state-color);
}
