.modal-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-form-cta-text {
  color: var(--primary-black-color);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}

.modal-form-field-wrap {
  margin-bottom: 8px;
}

.modal-form-field-wrap.textarea {
  margin-bottom: 16px;
}

.modal-form-label {
  display: block;
  color: var(--lightslate);
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}

.modal-form-input-wrap {
  position: relative;
}

.modal-form-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus-within {
  border-color: var(--primary-brand-color);
}

.modal-form-input-icon {
  fill: var(--primary-black-color);
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--primary-brand-color);
}

.modal-form-textarea {
  color: rgba(46, 47, 66, 0.4);
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  height: 120px;
  resize: none;
}

.modal-form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-form-button {
  color: var(--white-color);
  font-family: inherit;
  font-size: inherit;
  letter-spacing: 0.04em;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  min-width: 169px;
  padding: 16px 32px;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  background: var(--primary-brand-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: var(--pressed-state-color);
}

.checkbox-wrap {
  margin-bottom: 24px;
}

.checkbox-agree-text {
  color: var(--lightslate);
  font-family: inherit;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: center;
}

.checkbox-agree-link {
  display: inline-block;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
  color: var(--primary-brand-color);
  text-align: center;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-agree-text > .custom-checkbox {
  background-color: var(--pressed-state-color);
  border: none;
  fill: var(--light-color);
  border-color: var(--pressed-state-color);
}
